@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR|Raleway");
h1, h2, h3, h4, div, ul, ol, li, dl, dt, dd, p, address, header, nav, main,
section, article, footer, aside, figure, a {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

header, body, nav, main, section, article, footer, aside, figure {
  display: block;
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #898989;
}

a img {
  border: 0;
}

img {
  vertical-align: middle;
}

body {
  font: 15px/1.6 'Noto Sans KR';
}

header#main-header {
  position: relative;
  width: 100%;
  height: 840px;
  background: url(../img/main_img2.png) no-repeat center/cover;
}

header#main-header nav#main-nav, header#main-header nav#hidden-nav {
  height: 120px;
  background: rgba(0, 0, 0, 0.6);
}

header#main-header nav#main-nav div.inner-nav, header#main-header nav#hidden-nav div.inner-nav {
  position: relative;
  max-width: calc(100% - 40px);
  width: 1200px;
  height: 100%;
  color: #fff;
  margin: 0 auto;
}

header#main-header nav#main-nav {
  display: none;
}

@media all and (max-width: 768px) {
  header#main-header {
    height: 400px;
  }
  header#main-header nav#mainNav {
    height: 50px;
  }
}

div.inner-nav h1.logo {
  height: 100%;
}

div.inner-nav h1.logo a {
  position: absolute;
  vertical-align: middle;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font: bold 36px 'Raleway';
  color: #fff;
  line-height: 0.9;
}

div.inner-nav h1.logo a span {
  display: block;
  padding-left: 30px;
  font-size: 30px;
}

@media all and (max-width: 768px) {
  div.inner-nav h1.logo a {
    font-size: 14px;
  }
  div.inner-nav h1.logo a span {
    font-size: 13px;
    padding-left: 10px;
  }
}

div.inner-nav > nav.gnb {
  position: absolute;
  top: 58px;
  right: 80px;
  width: 690px;
  overflow: hidden;
  z-index: 999;
}

div.inner-nav > nav.gnb > ul.gnb-menu {
  overflow: hidden;
}

div.inner-nav > nav.gnb > ul.gnb-menu > li.menus {
  width: 25%;
  float: left;
  text-align: center;
}

div.inner-nav > nav.gnb > ul.gnb-menu > li.menus:hover > ul.sub-menus {
  height: calc(100% + 0px);
  padding: 15px 30px;
}

div.inner-nav > nav.gnb > ul.gnb-menu > li.menus:hover > ul.sub-menus > li {
  height: 45px;
}

div.inner-nav > nav.gnb > ul.gnb-menu > li.menus > a.menus-a {
  display: block;
  color: #fff;
  font-size: 14px;
  text-transform: capitalize;
  padding: 20px 40px;
}

div.inner-nav > nav.gnb > ul.gnb-menu > li.menus > ul.sub-menus {
  position: relative;
  height: 0px;
  overflow: hidden;
  background-color: #fff;
  -webkit-transition: all .2s;
  transition: all .2s;
  padding: 0px 30px;
}

div.inner-nav > nav.gnb > ul.gnb-menu > li.menus > ul.sub-menus > li {
  height: 0px;
  text-align: left;
  -webkit-transition: all .2s;
  transition: all .2s;
}

div.inner-nav > nav.gnb > ul.gnb-menu > li.menus > ul.sub-menus > li > a {
  color: #898989;
  font-size: 12px;
  text-transform: capitalize;
  line-height: 45px;
}

@media all and (max-width: 768px) {
  div.inner-nav > nav.gnb > ul.gnb-menu {
    display: none;
  }
}

div.inner-nav a.menu {
  position: absolute;
  bottom: 15px;
  right: 0;
  z-index: 999;
  -webkit-transition: all .3s;
  transition: all .3s;
}

div.inner-nav a.menu:hover .item:nth-child(1) {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 2px;
          transform-origin: 2px;
}

div.inner-nav a.menu:hover .item:nth-child(2) {
  opacity: 0;
}

div.inner-nav a.menu:hover .item:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 2px;
          transform-origin: 2px;
}

div.inner-nav a.menu span.item {
  background: #fff;
  display: block;
  width: 40px;
  height: 3px;
  margin: 0 0 10px;
  -webkit-transition: all .3s;
  transition: all .3s;
}

@media all and (max-width: 768px) {
  div.inner-nav a.menu span.item {
    width: 20px;
    height: 1px;
    margin: 0 0 5px;
  }
}

div.inner-nav nav.tnb {
  position: absolute;
  top: 0;
  right: 0;
}

div.inner-nav nav.tnb a {
  color: rgba(255, 255, 255, 0.7);
  padding: 5px 15px;
  margin-right: 10px;
  font-size: 12px;
}

@media all and (max-width: 768px) {
  div.inner-nav nav.tnb {
    display: none;
  }
}

header#main-header nav#hidden-nav {
  position: fixed;
  width: 100%;
  height: 100%;
}

header#main-header nav#hidden-nav div.inner-nav {
  background: red;
  position: relative;
  max-width: calc(100% - 40px);
  width: 1200px;
  height: 100%;
  color: #fff;
  margin: 0 auto;
}

header#main-header nav#hidden-nav div.inner-nav h1.logo {
  height: 100%;
}

header#main-header nav#hidden-nav div.inner-nav h1.logo a {
  color: #949592;
}

header#main-header nav#hidden-nav div.gnb-wrap {
  width: 100%;
  height: 100%;
  background-color: #F5F6F8;
}

header#main-header nav#hidden-nav div.gnb-wrap nav.gnb {
  width: 1000px;
  max-width: calc(100% - 40px);
  margin: 0 auto;
  overflow: hidden;
}

header#main-header nav#hidden-nav div.gnb-wrap nav.gnb a {
  text-transform: capitalize;
  display: block;
}

header#main-header nav#hidden-nav div.gnb-wrap nav.gnb ul.gnb-menu {
  padding-top: 10px;
}

header#main-header nav#hidden-nav div.gnb-wrap nav.gnb ul.gnb-menu li.menus {
  width: 25%;
  float: left;
  text-align: center;
}

header#main-header nav#hidden-nav div.gnb-wrap nav.gnb ul.gnb-menu li.menus a.menus-a {
  padding: 45px 0;
  color: black;
  font-weight: bold;
  font-size: 30px;
}

header#main-header nav#hidden-nav div.gnb-wrap nav.gnb ul.gnb-menu li.menus ul.sub-menus li {
  list-style-type: circle;
  height: 45px;
}

header#main-header nav#hidden-nav div.gnb-wrap nav.gnb ul.gnb-menu li.menus ul.sub-menus li a {
  color: #646464;
  font-size: 22px;
}

header#main-header > div.mainTitle {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  line-height: 1.3;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

header#main-header > div.mainTitle h1 {
  font-size: 50px;
  text-align: center;
  color: #fff;
  letter-spacing: 3px;
  margin-left: 1.5px;
  text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.6);
}

header#main-header > div.mainTitle span {
  display: block;
  font-size: 30px;
  font-weight: lighter;
  letter-spacing: 8px;
  margin-left: 4px;
  text-transform: uppercase;
  text-shadow: -2px 2px 5px rgba(145, 144, 144, 0.6);
}

@media all and (max-width: 768px) {
  header#main-header > div.mainTitle {
    line-height: 2;
  }
  header#main-header > div.mainTitle h1 {
    font-size: 30px;
  }
  header#main-header > div.mainTitle span {
    font-size: 20px;
  }
}

section {
  padding-top: 50px;
  padding-bottom: 80px;
}

h2.subTitle {
  font: bold 25px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}

section#product article {
  max-width: calc(100% - 40px);
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

section#product article ul {
  display: block;
  float: left;
  width: 200px;
  height: 400px;
  margin-left: 33.3333px;
  text-align: center;
}

section#product article ul li {
  margin: 0 auto;
  height: 100%;
}

section#product article ul li h3 {
  padding-top: 230px;
  font-size: 15px;
  color: #333333;
}

section#product article ul li p {
  padding-top: 5px;
  padding-bottom: 30px;
  font-size: 13px;
  color: #646464;
}

section#product article ul li a {
  margin: 0 52.5px;
  display: block;
  width: 95px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  font-size: 10px;
  font-weight: bold;
  color: black;
  letter-spacing: 3px;
  border: 1px solid #c8c8c8;
  border-radius: 20px;
  cursor: pointer;
}

section#product article ul li a:hover {
  background-color: #20242a;
  color: #fff;
}

@media all and (max-width: 768px) {
  section#product article ul li p {
    display: none;
  }
}

section#product article li.cyclone {
  background: url(../img/ico1.png) center top no-repeat/200px 200px;
}

section#product article li.chakra-max {
  background: url(../img/ico2.png) center top no-repeat/200px 200px;
}

section#product article li.galea {
  background: url(../img/ico3.png) center top no-repeat/200px 200px;
}

section#product article li.trusted-orange {
  background: url(../img/ico4.png) center top no-repeat/200px 200px;
}

section#product article li.orange {
  background: url(../img/ico5.png) center top no-repeat/200px 200px;
}

section#boardList {
  background-color: #f5f6f8;
}

section#boardList div {
  overflow: hidden;
  padding-top: 20px;
  max-width: calc(100% - 40px);
  width: 1500px;
  margin: 0 auto;
}

section#boardList div ul.utill-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section#boardList div ul.utill-wrap li {
  width: calc(33.3333% - 15px);
  height: 180px;
  background-color: #9f9f9f;
  padding: 40px;
}

section#boardList div ul.utill-wrap li h3 {
  color: #fff;
  font-size: 18px;
  letter-spacing: 1.5px;
  font-weight: bold;
  text-transform: capitalize;
}

section#boardList div ul.utill-wrap li p {
  color: #fff;
  font-size: 15px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  padding-top: 20px;
}

@media all and (max-width: 768px) {
  section#boardList div ul.utill-wrap {
    display: block;
    width: 100%;
  }
  section#boardList div ul.utill-wrap li {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
    padding: 15px 20px;
  }
  section#boardList div ul.utill-wrap li h3 {
    font-size: 15px;
  }
  section#boardList div ul.utill-wrap li p {
    font-size: 14px;
  }
  section#boardList div ul.utill-wrap li p br {
    display: none;
  }
}

section#boardList div div.left, section#boardList div div.right {
  width: 45%;
}

section#boardList div div.left h3, section#boardList div div.right h3 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  text-transform: capitalize;
  letter-spacing: 1.2px;
}

section#boardList div div.left h3:after, section#boardList div div.right h3:after {
  margin-left: 10px;
  content: '\f138';
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
}

section#boardList div div.left ul li, section#boardList div div.right ul li {
  padding: 15px 0;
  border-bottom: 1px solid #dcdcdc;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

section#boardList div div.left ul li a, section#boardList div div.right ul li a {
  font-size: 18px;
  color: #646464;
}

section#boardList div div.left {
  float: left;
  margin-left: 30px;
}

section#boardList div div.right {
  float: right;
  margin-right: 30px;
}

@media all and (max-width: 768px) {
  section#boardList div div.left, section#boardList div div.right {
    float: none;
    max-width: 100%;
    width: 100%;
    margin: 0;
  }
  section#boardList div div.left ul li, section#boardList div div.right ul li {
    padding: 10px;
  }
  section#boardList div div.left ul li a, section#boardList div div.right ul li a {
    font-size: 15px;
  }
}

section#aboutus h2 {
  margin-bottom: 0;
}

section#aboutus p {
  font-size: 15px;
  color: #929292;
  margin-bottom: 40px;
  text-align: center;
}

section#aboutus div.hero {
  position: relative;
  max-width: calc(100%);
  width: 1500px;
  height: 450px;
  margin: 0 auto;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.2))), url(../img/main_img04.png) center top no-repeat/cover;
  background: linear-gradient(rgba(0, 0, 0, 0.2)), url(../img/main_img04.png) center top no-repeat/cover;
}

section#aboutus div.hero div.innerBox {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  bottom: 0;
  width: 100%;
  height: 120px;
  overflow: hidden;
}

section#aboutus div.hero div.innerBox h3, section#aboutus div.hero div.innerBox p {
  color: rgba(255, 255, 255, 0.74);
  height: 100%;
}

section#aboutus div.hero div.innerBox h3 {
  display: block;
  width: 375px;
  line-height: 120px;
  padding-left: 80px;
  font-size: 40px;
  text-align: center;
  float: left;
  letter-spacing: 2px;
}

section#aboutus div.hero div.innerBox h3 span {
  border-right: 1px solid #95948c;
  padding-left: 45px;
}

section#aboutus div.hero div.innerBox p {
  text-align: unset;
  width: 520px;
  font-size: 12px;
  float: left;
  padding-top: 40px;
  padding-left: 45px;
}

footer {
  background-color: #5a5a5a;
  text-align: center;
  overflow: hidden;
}

footer div.btnSet {
  margin: 40px auto 0;
}

footer div.btnSet a {
  border: 1px solid #9c9c9c;
  border-radius: 30px;
  padding: 6px 18px;
  margin: 0 5px;
  color: #fff;
  font-size: 12px;
}

footer div.btnSet a i {
  padding-left: 5px;
}

footer address.mainFooter {
  margin: 20px auto 0;
}

footer address.mainFooter span {
  font-style: normal;
  font-size: 12px;
  color: rgba(255, 255, 255, 0.6);
  padding: 0 10px;
  border-right: 1px solid #9c9c9c;
}

footer address.mainFooter span a {
  color: rgba(255, 255, 255, 0.6);
}

footer address.mainFooter span:nth-child(4), footer address.mainFooter span:last-child {
  border: none;
}

footer div.valleyLogo {
  width: 190px;
  height: 45px;
  margin: 30px auto 40px;
  background-color: #fff;
  border-radius: 30px;
}

div.logo-Top {
  z-index: 9999;
  position: fixed;
  right: 0;
  bottom: 30px;
  width: 55px;
  height: 55px;
  background-color: #333333;
  color: #fff;
  line-height: 55px;
  font-size: 10px;
  text-align: center;
}
/*# sourceMappingURL=ware-valley.css.map */