section.memo-write .memo-body {
  position: relative;
  margin: 80px auto;
  width: 800px;
  max-width: calc(100% - 80px);
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.1);
}

section.memo-write .memo-body[open] {
  height: auto;
}

section.memo-write .memo-body[open] .blind-sec {
  width: 100%;
  display: inline-block;
}

section.memo-write .memo-body[open] .memo-front-icons {
  display: none;
}

section.memo-write .memo-body[open] .memo-mid-icons {
  display: inline-block;
}

section.memo-write .memo-body[open] div#btn-set {
  display: block;
}

section.memo-write .memo-body a.input-icon {
  color: gray;
  font-size: 20px;
  text-decoration: none;
  position: relative;
  margin-right: 30px;
}

section.memo-write .memo-body a.input-icon div.upload-tooltip {
  display: none;
  font-size: 12px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  background-color: gray;
  border-radius: 5px;
  padding: 5px 10px;
  white-space: nowrap;
  line-height: initial;
}

section.memo-write .memo-body a.input-icon:hover div.upload-tooltip {
  display: inline-block;
}

section.memo-write .memo-body a.input-icon-l {
  color: #CACACA;
  font-size: 15px;
  text-decoration: none;
  margin-right: 20px;
}

section.memo-write .memo-body .memo-description, section.memo-write .memo-body .memo-title {
  font-family: sans-serif;
  color: gray;
  padding: 10px 20px;
  background: none;
  font-size: 15px;
  font-weight: bold;
  border: none;
  width: 70%;
  height: 40px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section.memo-write .memo-body .blind-sec {
  display: none;
  position: relative;
}

section.memo-write .memo-body .blind-sec #fixed-icon {
  color: gray;
  font-size: 20px;
  line-height: 40px;
  position: absolute;
  right: 0;
  top: 0;
}

section.memo-write .memo-body .blind-sec .memo-description:focus, section.memo-write .memo-body .blind-sec .memo-title:focus {
  outline: none;
}

section.memo-write .memo-body div.memo-front-icons {
  display: inline-block;
  position: absolute;
  top: 0px;
  right: 0px;
  line-height: 40px;
}

section.memo-write .memo-body div.memo-mid-icons {
  display: none;
  margin: 10px 10px 10px 20px;
}

section.memo-write .memo-body div.memo-mid-icons a.input-icon {
  font-size: 15px;
}

section.memo-write .memo-body div#btn-set {
  display: none;
  float: right;
}

section.memo-write .memo-body div#btn-set button {
  display: inline-block;
  margin-right: 20px;
  padding: 0 15px;
  background: none;
  border: none;
  line-height: 40px;
  cursor: pointer;
  font-family: sans-serif;
  outline: none;
}

section.memo-show .no-memo {
  margin: 200px auto;
  width: 800px;
  max-width: calc(100% - 40px);
  color: #d1d1d1;
  text-align: center;
  font-size: 25px;
}

section.memo-show .no-memo[hidden] {
  display: none;
}

section.memo-show .no-memo i {
  font-size: 150px;
}

section.memo-show .memo-body {
  margin: 20px auto;
  width: 300px;
  height: 125px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  -webkit-transition: all 3s;
  transition: all 3s;
}

section.memo-show .memo-body a.input-icon {
  color: gray;
  font-size: 20px;
  text-decoration: none;
  position: relative;
  margin-right: 30px;
}

section.memo-show .memo-body a.input-icon div.upload-tooltip {
  display: none;
  font-size: 12px;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: white;
  background-color: gray;
  border-radius: 5px;
  padding: 5px 10px;
  white-space: nowrap;
  line-height: initial;
}

section.memo-show .memo-body a.input-icon:hover div.upload-tooltip {
  display: inline-block;
}

section.memo-show .memo-body .memo-description, section.memo-show .memo-body .memo-title {
  font-family: sans-serif;
  color: #3E3E3E;
  padding: 10px 20px;
  font-size: 15px;
  font-weight: bold;
  border: none;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

section.memo-show .memo-body .memo-title {
  font-size: 13px;
}

section.memo-show .memo-body .blind-sec {
  position: relative;
}

section.memo-show .memo-body .blind-sec #fixed-icon {
  display: none;
  line-height: 40px;
  position: absolute;
  right: 30px;
  top: 0;
}

section.memo-show .memo-body div.memo-front-icons {
  display: none;
}

section.memo-show .memo-body div.memo-mid-icons {
  display: none;
}

section.memo-show .memo-body div#btn-set {
  display: none;
  float: right;
}

section.memo-show .memo-body div#btn-set button {
  display: inline-block;
  margin-right: 20px;
  padding: 0 15px;
  background: white;
  border: none;
  line-height: 40px;
  cursor: pointer;
  font-family: sans-serif;
  outline: none;
}
/*# sourceMappingURL=memo.css.map */