@mixin media-mobile {
  @media all and (max-width:768px) {
    @content;
  }
}

section.memo-write {

  .memo-body {
    position: relative;
    margin: 80px auto;
    width: 800px;
    max-width: calc(100% - 80px);
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.1);

    &[open] {
      height: auto;

      .blind-sec { //인풋이라 부모 width를 안받음
        width: 100%;
        display: inline-block;
      }

      .memo-front-icons {
        display: none;
      }

      .memo-mid-icons {
        display: inline-block;
      }

      div#btn-set {
        display: block;
      }
    }

    a.input-icon {
      color: gray;
      font-size: 20px;
      text-decoration: none;
      position: relative;
      margin-right:30px;

      div.upload-tooltip {
        font-size: 12px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        background-color: gray;
        border-radius: 5px;
        padding: 5px 10px;
        white-space:nowrap;
        line-height: initial;
      }
    }

    a.input-icon-l {
      color: #CACACA;
      font-size: 15px;
      text-decoration: none;
      margin-right: 20px;
    }

    .memo-description, .memo-title {
      font-family:sans-serif;
      color: gray;
      padding: 10px 20px;
      background: none;
      font-size: 15px;
      font-weight: bold;
      border: none;
      width: 70%;
      height: 40px;
      outline: none;
      box-sizing: border-box;
    }

    .blind-sec {
      display: none;
      position: relative;

      #fixed-icon {
        color: gray;
        font-size: 20px;
        line-height: 40px;
        position: absolute;
        right: 0;
        top: 0;
      }

      .memo-description:focus , .memo-title:focus {
        outline: none;
      }
    }

    div.memo-front-icons {
      display: inline-block;
      position: absolute;
      top:0px;
      right: 0px;
      line-height: 40px;
    }


    div.memo-mid-icons {
      display: none;
      margin: 10px 10px 10px 20px;

      a.input-icon {
        font-size: 15px;
      }
    }
      
    div#btn-set {
      display: none;
      float: right;

      button {
        display: inline-block;
        margin-right: 20px;
        padding: 0 15px;
        background: none;
        border: none;
        line-height: 40px;
        cursor: pointer;
        font-family:sans-serif;
        outline: none;
      }
    }
  }
}


//memo-show
section.memo-show {

  .no-memo {
  margin: 200px auto;
  width: 800px;
  max-width: calc(100% - 40px);
  color: rgb(209, 209, 209);
  text-align: center;
  font-size: 25px;

  &[hidden] {
    display: none;
  }

    i {
      font-size: 150px;
    }
  }

  .memo-body {
    margin: 20px auto;
    width: 300px;
    max-width: calc(100% - 40px);
    height: 125px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    transition: box-shadow .5s, opacity .5s;
    //opacity 적용안됌
    //미드아이콘은 오퍼시티를 적용해서 사르륵 열리게 하면됌

    // &[open] memo-write memo-body와 동일하게


    &:hover, &[hover] {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.1);

      #fixed-icon {
        // opacity: 1;
      }
      div.memo-mid-icons {
        opacity: 1;

        a.input-icon {
          opacity: 1;
        }
      }
    }

    a.input-icon {
      opacity: 0;
      color: gray;
      font-size: 20px;
      text-decoration: none;
      position: relative;
      margin-right:30px;

      div.upload-tooltip {
        font-size: 12px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        background-color: gray;
        border-radius: 5px;
        padding: 5px 10px;
        white-space:nowrap;
        line-height: initial;
      }
    }

    .memo-description, .memo-title {
      font-family:sans-serif;
      color: #3E3E3E;
      padding: 10px 20px;
      font-size: 15px;
      font-weight: bold;
      border: none;
      width: 100%;
      box-sizing: border-box;
      outline: none;
      background: none;
    }

    .memo-title {
      font-size: 13px;
    }

    .blind-sec {
      position: relative;

      #fixed-icon {
        opacity: 0;
        line-height: 40px;
        position: absolute;
        right: 30px;
        top: 0;
      }
    }

    div.memo-front-icons {
      display: none; //hover 및 open일 때도 안보임
    }

    div.memo-mid-icons {
      width: 100%;
      text-align: center;
      margin-top: 5px;

      a.input-icon {
        
        &:hover {
        color: #3E3E3E;
        }

        opacity: 0;
        display: inline-block;
        text-align: center;
        width: 15%;
        margin: 0;

        i {
          font-size: 15px;
          line-height: 27px;
        }
      }

      a.input-icon-l {
        display: none;
      }
    }

    div#btn-set {
      display: none;
      float: right;

      button {
        display: inline-block;
        margin-right: 20px;
        padding: 0 15px;
        background: white;
        border: none;
        line-height: 40px;
        cursor: pointer;
        font-family:sans-serif;
        outline: none;
      }
    }
  }
}

@include media-mobile{

  section.memo-show {
    .memo-body{
      height: auto;
      overflow: hidden;
      //
      position: relative;
      min-height: 60px;

      &:hover {
        box-shadow: none;
      }

      .blind-sec {
        width: 75%;

        #fixed-icon {
          display: none;
        }
      }

      .memo-description, .memo-mid-icons {
        display: none;
      }

      div#btn-set {
        display: block;
        width: 25%;
        //추가
        position: absolute;
        top: 0px;
        right: 0px;

        button {
          //저장과 삭제가 되면 좋겠다
          display: block;
          line-height: 20px;
          margin: 0;
          padding: 5px 0;
          //추가
          border-left: 1px solid #c4c4c4;
          border-bottom: 1px solid #c4c4c4;
          box-sizing: border-box;
          width: 100%;
          
        }
      }
    }
  }
}