section.memo-write {

  .memo-body {
    position: relative;
    margin: 80px auto;
    width: 800px;
    max-width: calc(100% - 80px);
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.1);

    &[open] {
      height: auto;

      .blind-sec { //부모 width를 왜 안받는지 모르겠음
        width: 100%;
        display: inline-block;
      }

      .memo-front-icons {
        display: none;
      }

      .memo-mid-icons {
        display: inline-block;
      }

      div#btn-set {
        display: block;
      }
    }

    a.input-icon {
      color: gray;
      font-size: 20px;
      text-decoration: none;
      position: relative;
      margin-right:30px;

      div.upload-tooltip {
        display: none;
        font-size: 12px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        background-color: gray;
        border-radius: 5px;
        padding: 5px 10px;
        white-space:nowrap;
        line-height: initial;
      }

      &:hover {
        div.upload-tooltip {
          display: inline-block;
        }
      }
    }

    a.input-icon-l {
      color: #CACACA;
      font-size: 15px;
      text-decoration: none;
      margin-right: 20px;
    }

    .memo-description, .memo-title {
      font-family:sans-serif;
      color: gray;
      padding: 10px 20px;
      background: none; //이렇게 하니까 보더 안겹침 이래도 되는지
      font-size: 15px;
      font-weight: bold;
      border: none;
      width: 70%;
      height: 40px;
      outline: none;
      box-sizing: border-box;
    }

    .blind-sec { //블라인드섹션을 안보이게 했는데 왜 메모바디를 여는건지
      display: none;
      position: relative;

      #fixed-icon {
        color: gray;
        font-size: 20px;
        line-height: 40px;
        position: absolute;
        right: 0;
        top: 0;
      }

      .memo-description:focus , .memo-title:focus {
        outline: none;
      }
    }

    div.memo-front-icons {
      display: inline-block;
      position: absolute;
      top:0px;
      right: 0px;
      line-height: 40px;
    }


    div.memo-mid-icons {
      display: none;
      margin: 10px 10px 10px 20px;

      a.input-icon {
        font-size: 15px;
      }
    }
      
    div#btn-set {
      display: none;
      float: right;

      button {
        display: inline-block;
        margin-right: 20px;
        padding: 0 15px;
        background: none;
        border: none;
        line-height: 40px;
        cursor: pointer;
        font-family:sans-serif;
        outline: none;
      }
    }
  }
}



section.memo-show {

  .no-memo {
  margin: 200px auto; //얘도 안먹힘
  width: 800px;
  max-width: calc(100% - 40px);
  color: rgb(209, 209, 209);
  text-align: center;
  font-size: 25px;

  &[hidden] {
    display: none;
  }

    i {
      font-size: 150px;
    }
  }

  .memo-body {
    margin: 20px auto;
    width: 300px;
    // max-width: calc(100% - 40px); //얘 안먹힘
    height: 125px;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 10px;
    transition: all 3s; //이거 왜 적용안됌

    // &[open] memo-write memo-body와 동일하게


    &:hover {
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2), 0 3px 3px rgba(0, 0, 0, 0.1);
      
      #fixed-icon, div.memo-mid-icons {
        display: inline-block;
      }
    }

    a.input-icon {
      color: gray;
      font-size: 20px;
      text-decoration: none;
      position: relative;
      margin-right:30px;

      div.upload-tooltip {
        display: none;
        font-size: 12px;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        color: white;
        background-color: gray;
        border-radius: 5px;
        padding: 5px 10px;
        white-space:nowrap;
        line-height: initial;
      }

      &:hover {
        div.upload-tooltip {
          display: inline-block;
        }
      }
    }

    .memo-description, .memo-title {
      font-family:sans-serif;
      color: #3E3E3E;
      padding: 10px 20px;
      font-size: 15px;
      font-weight: bold;
      border: none;
      width: 100%;
      box-sizing: border-box;
      outline: none;
    }

    .memo-title {
      font-size: 13px;
    }

    .blind-sec {
      position: relative;

      #fixed-icon {
        display: none;
        line-height: 40px;
        position: absolute;
        right: 30px;
        top: 0; //왜 top 0 을 줘야 올라가는지 모르겠음
      }
    }

    div.memo-front-icons{
      display: none; //hover 및 open일 때도 안보임
    }

    div.memo-mid-icons {
      display: none;
    }

    div#btn-set {
      display: none;
      float: right;

      button {
        display: inline-block;
        margin-right: 20px;
        padding: 0 15px;
        background: white;
        border: none;
        line-height: 40px;
        cursor: pointer;
        font-family:sans-serif;
        outline: none;
      }
    }
  }
}