@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Nanum+Gothic|Roboto&display=swap');
body, header, nav, ul, li, section, article, h1, h2, h3, h4, h5, h6, p, div, a, span {margin: 0; padding: 0; box-sizing: border-box;}
body {
  font-family: 'Nanum Gothic', 'Roboto', sans-serif;
  font-size: 13px;
  color: #555555;
  background: #FFFFFF;
  overflow-y: scroll;
}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: normal;}
li {list-style: none;}
a {text-decoration: none; color: inherit;}
input, button, select {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 0px;
  border-radius: 0px;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font: inherit;
}
select {appearance: none;}
select::-ms-expand {display:none}
button {cursor: pointer;}

// font-family: 'Archivo Narrow', sans-serif;

.eland-wrap {
  height: 40px;
  border-bottom: 1px solid #E5E5E5;
}

.eland {
  position: relative;
  width: 1100px;
  height: 40px;
  margin: 0 auto;

  > ul {
    position: absolute;
    display: block;
  }

  .eland-site {
    top: 0px;
    left: 0px;
    height: 40px;
    // padding-left: 38px;
    background-image: url(../img/icons/header_lloyd.png);
    background-repeat: no-repeat;
    // background-position: 54px 0px;

    .li-brand {
      &:hover {
        > ul {
          display: block;
        }
      }
    }

    > li {
      display: inline-block;
      vertical-align: middle;

      &:nth-child(2) {
        a {
          width: 133px;
        }
      }

      > a {
        display: inline-block;
        width: 110px;
        height: 40px;
      }

      .brand {
        position: absolute;
        top: 50%;
        left: 410px;
        transform: translate(0%, -50%);
        width: 125px;
        height: 26px;
        line-height: 26px;
        padding-left: 14px;
        color: #5F5F5F;
        font-family: 'Archivo Narrow', sans-serif;
        font-weight: bolder;
        font-size: 12px;
        letter-spacing: 1px;
        border: 1px solid #ECECEC;
        background-image: url(../img/icons/bu_brand_arrow.png);
        background-repeat: no-repeat;
        background-position: 97px -22px;

        &:hover, &:focus {
          background-position: 97px -2px;
        }

        img {
          padding-left: 9px;
        }
      }

      .brand-site {
        // 백그라운드랑 border-bottom은 header가 내려오게 jquery로
        display: none;

        li {
          padding: 20px 0px;

          a {
            img {
              width: 100px;
            }
          }

          &:nth-of-type(1) ,&:nth-of-type(2) {
            span {
              height: 80px;
            }
          }
        }

        li+li {
          border-top: 1px solid #ededed;
        }

        .brand-type {
          display: block;
          float: left;
          width: 180px;
          height: 40px;
          padding: 0px 40px;
          // font-weight: bold;
        }
      }
    }
  }

  .eland-member {
    top: 50%;
    right: 0px;
    transform: translate(0%, -50%);

    li {
      display: inline-block;
      font-size: 11px;

      img {
        padding: 0px 10px;
      }
    }

    .login {
      position: fixed;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      background: #999;
    }
  }
}

.snb {
  width: 1100px;
  position: relative;
  margin: 30px auto;

  .sns {
    width: 140px;
    height: 45px;
    background: url(../img/icons/header_lloyd.png) 0px -159px no-repeat;

    >a {
      display: inline-block;
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }
    >a+a {
      margin-left: 6px;
    }
  }

  h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    // text-align: center;
  }

  .search {
    position: absolute;
    top: 50%;
    transform: translate(0%, -50%);
    right: 0px;
    width: 260px;
    height: 40px;
    background-color: #f3f3f3;
    border-radius: 20px;

    input {
      width: 215px;
      height: 100%;
      border-radius: 20px;
      padding-left: 5px;
    }

    button {
      position: absolute;
      top: 0%;
      right: 0px;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      background: url(../img/icons/header_lloyd.png) -175px -158px no-repeat;
    }
  }
}

.gnb {
  position: relative;
  background: #16391D;
  color: #f2f2f2;

  >ul {
    width: 1100px;
    // height: 40px;
    margin: 0 auto;
    overflow: hidden;

    >li {
      float: left;
      padding: 0px 27px;
      line-height: 40px;
      
      >ul {
        // position: relative;

        &:first-child {
          width: 180px;
          background: pink;
        }

        >li {
          float: left;
          position: absolute;
          background: red;
        }
      }
    }
  }
}





.text-ir {
  position: absolute;
  text-indent: -9999px;
}
