@import url('https://fonts.googleapis.com/css?family=Archivo+Narrow|Nanum+Gothic|Roboto&display=swap');
body, header, nav, ul, li, section, article, h1, h2, h3, h4, h5, h6, p, div {margin: 0; padding: 0; box-sizing: border-box;}
body {
  font-family: 'Nanum Gothic', 'Roboto', sans-serif;
  font-size: 13px;
  color: #555555;
  background: #FFFFFF;
}
h1, h2, h3, h4, h5, h6 {font-size: inherit; font-weight: normal;}
li {list-style: none;}
a {text-decoration: none; color: inherit;}
input, button, select {
  display: inline-block;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border: 0px;
  border-radius: 0px;
  vertical-align: middle;
  white-space: normal;
  background: none;
  line-height: 1;
  font: inherit;
}
select {appearance: none;}
select::-ms-expand {display:none}
button {cursor: pointer;}

// font-family: 'Archivo Narrow', sans-serif;

.eland-wrap {
  height: 40px;
  border-bottom: 1px solid #E5E5E5;
  // background: pink;
}
.eland {
  position: relative;
  width: 1200px;
  height: 40px;
  margin: 0 auto;
  // background: red;

  > ul {
    position: absolute;
    display: block;
  }

  .eland-site {
    top: 0px;
    left: 0px;
    height: 40px;
    padding-left: 38px;
    background-image: url(../img/icons/header_lloyd.png);
    background-repeat: no-repeat;
    background-position: 7% 0%;
    // background: red;

    li {
      display: inline-block;
      vertical-align: middle;

      &:nth-child(3) {
        a {
          width: 100px;
        }
      }

      a {
        display: inline-block;
        width: 130px;
        height: 40px;

        background: rgba(255, 192, 203, 0.5);
      }

      select {
        position: relative;
        width: 125px;
        height: 26px;
        padding-left: 10px;
        color: #5F5F5F;
        font-family: 'Archivo Narrow', sans-serif;
        font-weight: bolder;
        font-size: 12px;
        letter-spacing: 1px;
        border: 1px solid #ECECEC;
        background-image: url(../img/icons/bu_brand_arrow.png);
        background-repeat: no-repeat;
        background-position: 98px -22px;

        &:hover, &:focus {
          background-position: 98px -2px;
        }
      }

      ul {
      }
    }
  }

  .eland-member {
    top: 50%;
    right: 70px;
    transform: translate(0%, -50%);

    li {
      display: inline-block;
      font-size: 11px;

      img {
        padding: 0px 10px;
      }
    }

    .login {
      position: fixed;
      // top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
      background: #999;
    }
  }

}

.text-ir {
  position: absolute;
  text-indent: -9999px;
}
