body {
  font-family: Futura,"Helvetica","Arial",sans-serif;
  font-size: 11px;
}

body, div, h1, h2, h3, h4, h5, h6, button, ul, li, a, span, em, p {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

em {
  font-style: normal;
}

.index .visual {
  position: relative;
  height: 533px;
  background: pink;
}

.index .visual .slide {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: auto;
  right: auto;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
}

.index .visual .slide.on {
  display: block;
}

.index .visual .slide .contents {
  position: absolute;
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #f2f2f2;
  margin-top: 30px;
  text-align: center;
  font-weight: 100;
}

.index .visual .slide .contents h2 {
  font-size: 65px;
  font-weight: 100;
}

.index .visual .slide .contents h3 {
  font-weight: 100;
}

.index .visual .slide .contents .view-btn {
  margin-top: 10px;
}

.index .visual .slide .contents .view-btn button {
  padding: 11px;
  background: #1B1B1B;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
}

.index .visual .slide .contents .view-btn button:hover {
  background: #333;
}

.index .visual .s1 {
  background-image: url(../img/HeroBigStandard_3200x1520/HeroBigStandard_S93-FS-HERO-02_001_Default.jpg);
}

.index .visual .s2 {
  background-image: url(../img/HeroBigStandard_3200x1520/HeroBigStandard_S93-FS-ADV-02_001_Default.jpg);
}

.index .visual .s3 {
  background-image: url(../img/HeroBigStandard_3200x1520/HeroBigStandard_S93-FS-ADV-18_001_Default.jpg);
}

.index .visual .indicator {
  position: absolute;
  top: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: 30px;
  overflow: hidden;
}

.index .visual .indicator li {
  position: relative;
  float: left;
  width: 12px;
  height: 12px;
  border-radius: 6px;
  cursor: pointer;
}

.index .visual .indicator li:hover {
  border: 1px solid #f2f2f2;
}

.index .visual .indicator li.on {
  border: 1px solid #f2f2f2;
}

.index .visual .indicator li.on a {
  width: 0px;
  height: 0px;
}

.index .visual .indicator li > a {
  position: absolute;
  top: 3px;
  left: 3px;
  right: auto;
  bottom: auto;
  display: block;
  width: 4px;
  height: 4px;
  background: #f2f2f2;
  border-radius: 3px;
}

.index .visual .indicator li + li {
  margin-left: 20px;
}

.index .visual .slide-btns .prev-btn, .index .visual .slide-btns .next-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.index .visual .slide-btns .prev-btn img, .index .visual .slide-btns .next-btn img {
  width: 40px;
}

.index .visual .slide-btns .prev-btn {
  left: 40px;
}

.index .visual .slide-btns .next-btn {
  right: 40px;
}

.index .visual .present-svc {
  position: absolute;
  right: 26px;
  bottom: 20px;
  font-size: 13px;
  color: #f2f2f2;
}

.index .visual .present-svc i {
  font-size: 9px;
}

.index header {
  position: fixed;
  top: 0px;
  left: 0px;
  right: auto;
  bottom: auto;
  width: 100%;
  height: 100px;
  padding-top: 25px;
  -webkit-box-shadow: inset 0px 60px 50px -20px rgba(0, 0, 0, 0.8);
          box-shadow: inset 0px 60px 50px -20px rgba(0, 0, 0, 0.8);
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
}

.index header:hover {
  background-color: #1B1B1B;
}

.index header #nation-info {
  position: absolute;
  top: 25px;
  left: 25px;
  right: auto;
  bottom: auto;
}

.index header #nation-info li + li {
  margin-left: 10px;
}

.index header #nation-info li:first-child #shopping-area {
  background: pink;
}

.index header h1 {
  text-align: center;
  color: #f2f2f2;
  font-size: 28px;
  font-weight: 400;
  letter-spacing: 15px;
}

.index header .user-info {
  position: absolute;
  top: 25px;
  right: 90px;
  left: auto;
  bottom: auto;
}

.index header .user-info li + li {
  margin-left: 20px;
}

.index header #nation-info > li, .index header .user-info > li {
  display: inline-block;
}

.index header #nation-info > li > div, .index header .user-info > li > div {
  display: none;
  position: absolute;
}

.index header #nation-info li > span, .index header .user-info li > span {
  cursor: pointer;
  color: rgba(255, 255, 255, 0.9);
}

.index header #nation-info li > span:hover, .index header .user-info li > span:hover {
  color: white;
}

.index header #nation-info li > span:hover i, .index header .user-info li > span:hover i {
  color: white;
}

.index header #nation-info li > span i, .index header .user-info li > span i {
  margin-right: 4px;
  color: rgba(255, 255, 255, 0.5);
}

.index header .site-search {
  position: absolute;
  top: 15px;
  right: 25px;
  left: auto;
  bottom: auto;
  width: 34px;
  height: 34px;
  border: 3px solid rgba(255, 255, 255, 0.4);
  border-radius: 17px;
  cursor: pointer;
}

.index header .site-search:hover {
  border-color: rgba(255, 255, 255, 0.9);
}

.index header .site-search:hover i {
  color: rgba(255, 255, 255, 0.9);
}

.index header .site-search i {
  display: block;
  text-align: center;
  margin-top: 6px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 15px;
}

.index .gnb {
  font-size: 12px;
}

.index .gnb > ul {
  position: relative;
  text-align: center;
}

.index .gnb > ul > li {
  display: inline-block;
  margin: 17px;
}

.index .gnb > ul > li > a {
  color: rgba(242, 242, 242, 0.8);
}

.index .gnb > ul > li > a:hover {
  color: #f2f2f2;
}

.index .gnb > ul > li > ul {
  display: none;
  position: absolute;
  top: 100%;
  left: 0%;
  right: 0%;
  bottom: auto;
  margin: 0px 16px;
  background: rgba(255, 255, 255, 0.95);
  height: auto;
  padding: 26px 120px 55px;
  overflow: hidden;
}

.index .gnb > ul > li > ul.on {
  display: block;
}

.index .gnb > ul > li > ul li {
  text-align: left;
}

.index .gnb > ul > li > ul > li + li:before {
  content: '';
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  right: auto;
  bottom: auto;
  width: 1px;
  height: 230px;
  background: #e7e7e7;
}

.index .gnb > ul > li > ul > li {
  position: relative;
  float: left;
  margin: 0px auto;
  padding: 0px 35px;
}

.index .gnb > ul > li > ul > li a {
  font-size: 12px;
}

.index .gnb > ul > li > ul > li > a {
  color: #313131;
  font-weight: bold;
  letter-spacing: 1px;
}

.index .gnb > ul > li > ul > li > ul {
  margin-top: 5px;
}

.index .gnb > ul > li > ul > li > ul > li {
  margin-top: 16px;
}

.index .gnb > ul > li > ul > li > ul > li a {
  color: rgba(49, 49, 49, 0.7);
  font-weight: 400;
}

.index .gnb > ul > li > ul > li > ul > li:hover a {
  color: #313131;
}

.index .gnb > ul > li > ul .slide {
  background: red;
  width: 235px;
}

.index .gnb > ul > li .menu-style-WM {
  background: red;
}

.text-ir {
  width: 0px;
  height: 0px;
  text-indent: -9999px;
  font-size: 0px;
}

.i-text-ir {
  position: absolute;
  left: -9999px;
  width: 0px;
  height: 0px;
  font-size: 0px;
}
/*# sourceMappingURL=index.css.map */