@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Noto+Sans+KR:100,300,400,500,700,900|Poiret+One|Quattrocento+Sans&display=swap');

body {
}

body, div, h1, h2, h3, h4, h5, h6, button, ul, li, a, span, em, p {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

.index {
  .visual {
    position: relative;
    padding-top: 36.666%;
    background: pink;

    .slide {
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: auto;
      right: auto;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.2);

      .contents {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #f2f2f2;
        margin-top: 30px;
        text-align: center;

        h2 {
          font-size: 65px;
          font-weight: 100;
        }

        h3 {
          font-weight: 100;
        }

        .view-btn {
          margin-top: 5px;

          button {
            padding: 13px;
            background: #1B1B1B;
            
            color: #fff;
            font-weight: 300;

            &:hover {
              background: #333;
            }
          }
        }
      }
    }

    .s1 {
      background-image: url(../img/HeroBigStandard_3200x1520/HeroBigStandard_S93-FS-HERO-02_001_Default.jpg);
    }
    .s2 {
      background-image: url(../img/HeroBigStandard_3200x1520/HeroBigStandard_S93-FS-ADV-02_001_Default.jpg);
    }
    .s3 {
      background-image: url(../img/HeroBigStandard_3200x1520/HeroBigStandard_S93-FS-ADV-18_001_Default.jpg);
    }
    .s4 {
      background-image: url(../img/HeroBigStandard_3200x1520/HeroBigStandard_S01-FS-Creativita-01-up_001_Default.jpg);
    }

    #indicator {
      position: absolute;
      top: auto;
      left: 50%;
      transform: translate(-50%,-50%);
      bottom: 30px; //위치 재지정
      background: red;
      overflow: hidden;

      &:hover {
        //인디케이터 모양잡기
      }

      li {
        float: left;
      }

      li+li {
        margin-left: 5px;
      }
    }

    .silde-btns {
      // position: absolute;
      // background: red;

      .prev-btn, .next-btn {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        
        img {
          width: 40px;
          background: #f2f2f2;
        }
      }

      .prev-btn {
        left: 40px;
      }

      .next-btn {
        right: 40px;
      }

    }
  }
}



//design
.text-ir {width:0px; height:0px; text-indent: -9999px; font-size: 0px;}
.NanumGothic {font-family: 'Nanum Gothic', sans-serif;}
.Quattrocento {font-family: 'Quattrocento Sans', sans-serif;}
.PoiretOne {font-family: 'Poiret One', cursive;}