body {
  // font-family: Futura, Futura, "Malgun Gothic", Dotum, sans-serif;
  // font-family: Futura,"Helvetica","Arial",sans-serif;
  font-size: 11px;
}

body, div, h1, h2, h3, h4, h5, h6, button, ul, li, a, span, em, p {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

em {
  font-style: normal;
}

.index {
  .visual {
    position: relative;
    // height: 533px; //imac 크롬
    height: 540px; //macbook 크롬
    // height: 770px; //ex11
    background: pink;

    .slide {
      position: absolute;
      top: 0px;
      left: 0px;
      bottom: auto;
      right: auto;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: top center;
      background-size: cover;
      box-shadow: inset 0 0 0 2000px rgba(0,0,0,0.2);

      &.on {
        display: block;
      }

      .contents {
        position: absolute;
        top: 52%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: fit-content;
        color: #f2f2f2;
        margin-top: 30px;
        text-align: center;
        font-weight: 100;

        h2 {
          font-size: 65px;
          font-weight: 100;
        }

        h3 {
          font-weight: 100;
        }

        .view-btn {
          margin-top: 10px;

          button {
            padding: 11px;
            background: #1B1B1B;
            color: #fff;
            font-weight: 300;
            font-size: 12px;

            &:hover {
              background: #333;
            }
          }
        }
      }
    }

    .s1 {
      background-image: url(../img/HeroBigStandard_3200x1520/HeroBigStandard_S93-FS-HERO-02_001_Default.jpg);
    }
    .s2 {
      background-image: url(../img/HeroBigStandard_3200x1520/HeroBigStandard_S93-FS-ADV-02_001_Default.jpg);
    }
    .s3 {
      background-image: url(../img/HeroBigStandard_3200x1520/HeroBigStandard_S93-FS-ADV-18_001_Default.jpg);
    }

    .indicator {
      position: absolute;
      top: auto;
      left: 50%;
      transform: translate(-50%,-50%);
      bottom: 30px; //위치 재지정cd0
      overflow: hidden;

      li {
        position: relative;
        float: left;
        width: 12px;
        height: 12px;
        border-radius: 6px;
        // transition: border .4s;
        cursor: pointer;

        &:hover { 
          border: 1px solid #f2f2f2;
        }

        &.on {
          border: 1px solid #f2f2f2;

          a {
            width: 0px;
            height: 0px;
          }
        }

        > a {
          position: absolute;
          top: 3px;
          left: 3px;
          right: auto;
          bottom: auto;
          display: block;
          width: 4px;
          height: 4px;
          background: #f2f2f2;
          border-radius: 3px;
        }
      }

      li+li {
        margin-left: 20px;
      }
    }

    .slide-btns {
      // position: absolute;
      // background: red;

      .prev-btn, .next-btn {
        position: absolute;
        top: 50%;
        transform: translate(0%, -50%);
        
        img {
          width: 40px;
        }
      }

      .prev-btn {
        left: 40px;
      }

      .next-btn {
        right: 40px;
      }
    }

    .present-svc {
      > h3 {
        > a {
          position: absolute;
          right: 26px;
          bottom: 20px;
          font-size: 13px;
          color: #f2f2f2;
    
          i {
            font-size: 9px;
          }
        }
      }

      > div {
        display: none;
        position: absolute;
        top: 50%;
        left: 50%;
        right: auto;
        bottom: auto;
        transform: translate(-50%, -50%);
        width: 590px;
        height: 570px;
        padding: 25px 90px;
        background: #fff;
        text-align: center;
        font-weight: 300;
        z-index: 1;

        &.on {
          display: block;
        }

        > em {
          position: relative;
          display: block;
          padding: 25px 0px;
          font-weight: 400;
          font-size: 12px;

          &:after {
            content: '';
            display: block;
            position: absolute;
            top: 100%;
            left: 50%;
            right: auto;
            bottom: auto;
            transform: translate(-50%, 0%);
            width: 30px;
            height: 1px;
            background: gray;
          }
        }

        > h4 {
          margin: 30px auto 0px;
          padding-bottom: 10px;
          font-size: 24px;
          font-weight: 300;
        }

        > p {
          margin: 25px auto;
          font-size: 16px;
          line-height: 1.5;
        }

        > button {
          width: 120px;
          height: 45px;
          margin-top: 20px;
          background: #313131;
          color: #cfc9c3;
          font-size: 12px;
        }
      }
    }
  }

  #index-header {
    position: fixed;
    top: 0px;
    left: 0px;
    right: auto;
    bottom: auto;
    width: 100%;
    height: 100px;
    padding-top: 25px;
    box-shadow: inset 0px 70px 100px -30px rgba(0,0,0,0.8);
    transition: background-color 0.3s;
    z-index: 2;

    &:hover {
      background-color: #1B1B1B;
    }

    #nation-info {
      position: absolute;
      top: 25px;
      left: 25px;
      right: auto;
      bottom: auto;

      li + li {
        margin-left: 10px;
      }

      .shopping-area {
        display: none;

        &:before {
          left: 10px;
        }

        &.on {
          display: block;
        }

        > div {
          margin: 30px 20px;

          > em {
            font-weight: bold;
          }

          > p {
            margin: 20px 0px;
          }

          .nation-select {
            display: flex;
            justify-content: space-between;

            > a {
              position: relative;
              display: inline-block;
            }

            > a + a {
              &:before {
                content: '';
                display: block;
                position: absolute;
                top: -8px;
                left: -20px;
                right: auto;
                bottom: auto;
                width: 1px;
                height: 30px;
                background: #e7e7e7;
              }
            }
          }

          .search-box {
            position: relative;
            margin-top: 20px;

            input {
              width: 100%;
              height: 40px;
              padding: 0px 10px;
              background: #F4F4F4;
              border: none;
              font-size: 12px;
              box-sizing: border-box;
              color: #aaaaaa;

              &.on {
                border: 1px solid #9e9e9e;
              }
            }

            a {
              position: absolute;
              top: 50%;
              right: 15px;
              left: auto;
              bottom: auto;
              transform: translate(0%, -50%);

              i {
                font-size: 15px;
              }
            }
          }

          .use-gps {
            margin-top: 10px;

            a {
              color: #aaaaaa;
            }
          }
        }
      }
    }

    h1 {
      text-align: center;
      color: #f2f2f2;
      font-size: 28px;
      font-weight: 400;
      letter-spacing: 15px;

    }

    .user-info {
      position: absolute;
      top: 25px;
      right: 90px;
      left: auto;
      bottom: auto;

      > li + li {
        margin-left: 20px;
      }
      
      > li {
        > div {
          display: none;

          &.on {
            display: block;
          }

          > h3 {
            padding: 10px 0px;
            font-size: 16px;
            text-align: center;
            border-bottom: 1px solid #e7e7e7;
            color: #4d4d4d;
          }

          > ul {
            padding: 20px;
            color: #727272;

            > li {
              font-size: 12px;
              text-align: center;
            }
          }
        }

        .popup-design {
          border: 1px solid #f2f2f2;

          > ul {
            position: relative;
            height: 170px;
            background-image: url(../img/SnbPopupImage/MenuFlyoutMedium_S93-FS_001_Default.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: 800px 170px;
            box-shadow: inset 0 0 0 700px rgba(0,0,0,0.4);
            color: #f2f2f2;

            > li {
              position: absolute;
              top: 45px;
              left: 50%;
              right: auto;
              bottom: auto;
              transform: translate(-50%, 0%);
              width: 240px;
              font-size: 16px;
              text-align: center;
            }
          }

          .login {
            position: relative;

            > a {
              display: block;
              margin: 20px;
              padding: 13px 0px;
              text-align: center;
              background: #000;
              color: #fff;
              letter-spacing: 2px;
              font-size: 12px;
            }

            .join-btn {
              position: absolute;
              top: -100px;
              width: calc(100% - 40px);
              background: #fff;
              color: #000;
            }
          }
        }
      }

      #popup-login {
        .popup-design {
          left: -120px;
          
          &:before {
            left: 130px;
          }
        }
      }

      #popup-like-it {
        > div {
          right: -5px;
          
          &:before {
            right: 10px;
          }
        }
      }

      #popup-shopping-bag {
        > div {
          left: -220px;
          
          &:before {
            left: 218px;
          }
        }

        h3 {
          border: none;
        }
      }
    }

    #nation-info, .user-info {
      > li {
        position: relative;
        display: inline-block;

        > div {
          position: absolute;
          top: calc(100% + 20px);
          left: auto;
          right: auto;
          bottom: auto;
          width: 310px;
          background: #fff;
          z-index: 1;
          
          &:before {
            content: '';
            display: block;
            position: absolute;
            top: -12px;
            left: auto;
            right: auto;
            bottom: auto;
            border: 6px solid transparent;
            border-bottom-color: #fff;
          }

          a {
            color: #313131;
          }

          i {
            color: #aaaaaa;
          }
        }
      }

      li {
        > span {
          cursor: pointer;
          color: rgba(255, 255, 255, 0.9);

          &:hover {
            color: rgba(255, 255, 255, 1);

            i {
              color: rgba(255, 255, 255, 1);
            }
          }

          i {
            margin-right: 4px;
            color: rgba(255, 255, 255, 0.5);
          }
        }
      }

      .no-cursor {
        cursor: initial;

        &:hover {
          color: rgba(255, 255, 255, 0.9);
        }
      }
    }

    .site-search {
      position: absolute;
      top: 0%;
      left: auto;
      right: 0%;
      bottom: auto;
      cursor: pointer;

      > div {
        position: absolute;
        top: 15px;
        right: 25px;
        left: auto;
        bottom: auto;
        width: 34px;
        height: 34px;
        border: 3px solid rgba(255, 255, 255, 0.4);
        border-radius: 17px;
        background: transparent;

        &:hover {
          border-color: rgba(255, 255, 255, 0.9);
  
          &:before {
            border-color: rgba(255, 255, 255, 0.9);
          }
  
          i {
            color: rgba(255, 255, 255, 0.9);
          }
        }

        i {
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          right: auto;
          bottom: auto;
          transform: translate(-50%, -50%);
          color: rgba(255, 255, 255, 0.4);
          font-size: 15px;
        }
      }
    }
  }

  .gnb {
    font-size: 12px;

    > ul {
      position: absolute;
      top: auto;
      left: 50%;
      right: auto;
      bottom: 0%;
      transform: translate(-50%, 0%);
      width: 100%;
      text-align: center;
      z-index: 0;

      li {
        vertical-align: top;
      }
      
      > li {
        display: inline-block;
        margin: 21px 0px 0px;
        // padding: 26px 17px;
        background: pink;

        > a {
          display: block;
          padding: 5px 17px 26px;
          color: rgba(242, 242, 242, 0.8);

          &:hover {
            color: rgba(242, 242, 242, 1);
          }
        }

        > ul {
          display: none;
          position: absolute;
          top: 100%;
          left: 0%;
          right: 0%;
          bottom: auto;
          margin: 0px 16px;
          background: rgba(255, 255, 255, 0.95);
          // background: rgba(245, 244, 243, 0.98);
          height: auto;
          padding: 26px 0px 55px 0px;

          &.on {
            display: block;
          }

          li {
            text-align: left;
          }

          > li + li {
            &:before {
              content: '';
              display: block;
              position: absolute;
              top: 0px;
              left: 0px;
              right: auto;
              bottom: auto;
              width: 1px;
              height: 230px;
              background: #e7e7e7;
            }
          }

          > li {
            position: relative;
            display: inline-block;
            margin: 0px auto;
            padding: 0px 35px;

            a {
              font-size: 12px;
            }

            > a {
              color: #313131;
              font-weight: bold;
              letter-spacing: 1px;
            }

            > ul {
              margin-top: 5px;

              > li:first-child {
                margin-top: 22px;
              }
              > li {
                margin-top: 16px;

                a {
                  font-size: 12px;
                }

                a {
                  color: rgba(49, 49, 49, 0.7);
                  font-weight: 400;
                }

                &:hover {
                  a {
                    color: rgba(49, 49, 49, 1);
                  }
                }
              }
            }
          }

          .fashion-show {
            padding-right: 0px;

            a {
              display: block;
            }

            ul, figure {
              display: inline-block;
            }

            ul {
              width: 108px;
            }

            figure {
              position: relative;
              vertical-align: top;

              .slide {
                position: relative;
                width: 350px;
                height: 154px;
                margin-top: 10px;
                overflow: hidden;

                .slide-wrap {
                  position: absolute;
                  height: 100%;
                  transition: left .3s;

                  a {
                    position: absolute;
                    width: 350px;
                    height: 100%;

                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }
                }
              }

              #indicator {
                position: absolute;
                bottom: -20px;
                left: 50%;
                right: auto;
                top: auto;
                transform: translate(-50%, 0%);
                width: auto;

                li + li {
                  margin-left: 6px;
                }

                li {
                  display: inline-block;

                  a {
                    width: 6px;
                    height: 6px;
                    border: 1px solid #727272;
                    border-radius: 3px;
                  }

                  &:hover {
                    a {
                      background: black;
                    }
                  }

                  &.on {
                    a {
                      background: black;
                    }
                  }
                }
              }
            }
          }

          .gucci-edit {
            > ul {
              padding-top: 10px;

              > li {
                margin-top: 5px;

                > a {
                  display: block;
                  cursor: pointer;

                  div {
                    display: inline-block;
                    width: 70px;
                    height: 70px;

                    img {
                      width: 100%;
                      height: 100%;
                    }
                  }

                  em {
                    padding-left: 10px;
                    font-size: 11px;
                    vertical-align: top;
                  }
                }
              }
            }
          }
        }

        .menu-style-WM {
          padding: 0px 0px 55px;
          text-align: center;

          > li {

            > div {
              display: inline-block;
              width: 200px;
              // padding: 0px 45px;
              vertical-align: top;

              > .gnb-sub-header {
                margin: 26px 0px 22px;

                a {
                  color: #313131;
                  font-weight: bold;
                  letter-spacing: 1px;
                }
              }

              > ul {
                // display: none;
                li + li {
                  margin-top: 16px;
                }
                li {
                  a {
                    font-size: 12px;
                    color: rgba(49, 49, 49, 0.7);
                    font-weight: 400;
                  }
  
                  &:hover {
                    a {
                      color: rgba(49, 49, 49, 1);
                    }
                  }
                }
              }
            }
          }
        }

        .wide-list {
          > li {
            padding: 0px 65px;
          }

          .details {
            div {
              margin-top: 40px;
            }
          }
        }

        .col-list {
          .col4 {
            > a {
              display: block;
              margin-bottom: 22px;
            }

            ul {
              column-count: 3;
              column-gap: 30px;

              li:first-child {
                margin-top: 0px;
              }
            }
          }

          .col2 {
            > a {
              display: block;
              margin-bottom: 26px;
            }

            ul {
              column-count: 2;
              column-gap: 30px;

              li:first-child {
                margin-top: 0px;
              }
            }
          }
        }

        .gucci-story {
          .recently-info {
            > ul {
              column-gap: 14px;

              > li + li {
                margin-top: 10px;
              }

              > li {

                > a {
                  display: block;
                  height: 80px;

                  img {
                    height: 100%;
                  }

                  div {
                    display: inline-block;
                    width: 120px;
                    padding-left: 12px;
                    vertical-align: top;
                    font-size: 11px;

                    em, span {
                      word-break: break-all;
                    }

                    em {
                      display: block;
                      font-weight: bold;
                      margin-bottom: 12px;
                    }
                  }
                }
              }
            }
          }
        }
        .details {
          > div {
            position: relative;
            margin-top: 22px;
          }
        }
      }

      .no-border-all-list {
        > li + li {
          &:before {
            width: 0px;
            height: 0px;
          }
        }
      }

      .no-border {
        &:before {
          width: 0px;
          height: 0px;
        }
      }

      .slide-inside-text {
        display: block;
        position: absolute;
        top: 50%;
        left: auto;
        right: auto;
        bottom: auto;
        transform: translate(0%, -50%);
        width: 100%;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        text-align: center;

        span {
          font-weight: normal;
        }
      }

      .details {
        div {
          a {
            position: relative;
            display: block;
            width: 350px;
            height: 154px;

            img {
              width: 100%;
              height: 100%;
            }
          }
        }
      }
    }
  }
}

.index-main {
  position: relative;
  margin: 16px;
  text-align: center;
  z-index: 0;

  > section + section {
    margin-top: 2px;
  }

  > section {
    position: relative;
    width: 100%;
    background: #e7e7e7;
    color: #989898;
    font-weight: 300;

    > img {
      display: block;
      margin: 0px auto;
      border: 1px solid black;
    }

    > em {
      margin-top: 20px;
      font-size: 16px;
    }
    
    > h4 {
      margin: 18px 0px 12px;
      color: #636363;
      font-weight: 300;
      font-size: 33px;
    }

    > span {
      display: block;
    }

    > a {
      display: inline-block;
      margin-top: 15px;
      line-height: 40px;
      font-size: 12px;

      &:hover {
        > span {
          background: #313131;
        }
      }

      > span {
        padding: 13px 42px;
        background: #1a1a1a;
        vertical-align: middle;
        letter-spacing: 1px;
        color: #f2f2f2;
      }
    }

    > aside {
      position: absolute;
      top: auto;
      left: auto;
      right: auto;
      bottom: auto;
      width: 180px;
      background: #f5f5f5;
      z-index: 1;

      > a {
        display: block;
        margin: 40px 0px;
        color: #7a7a7a;

        > h4 {
          margin-top: 20px;
          font-size: 20px;
          font-weight: 300;
        }

        > p {
          margin-top: 20px;
          font-size: 15px;
          font-family: serif;
        }
      }
    }

    .aside-right {
      right: 115px;
    }
    .aside-left {
      left: 95px;
    }
    .aside-center {
      left: 50%;
      transform: translate(-50%, 0%);
    }
  }
}

.aside-hover-effect {
  display: inline-block;
  margin-top: 23px;
  color: #424242;
  font-size: 12px;
  font-weight: 400;

  &:hover {
    color: #7a7a7a;
  }
}


//design
.text-ir {width:0px; height:0px; text-indent: -9999px; font-size: 0px;}
.i-text-ir {position: absolute; left: -9999px; width: 0px; height: 0px; font-size: 0px;}
.perhaps {}
.no-cursor {cursor: none;}