@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic|Noto+Sans+KR:100,300,400,500,700,900|Poiret+One|Quattrocento+Sans&display=swap");
body, div, h1, h2, h3, h4, h5, h6, button, ul, li, a, span, em, p {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

.index .visual {
  position: relative;
  height: 465px;
  background: pink;
}

.index .visual .slide {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: auto;
  right: auto;
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  -webkit-box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
          box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
}

.index .visual .slide.on {
  display: block;
}

.index .visual .slide .contents {
  position: absolute;
  top: 52%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #f2f2f2;
  margin-top: 30px;
  text-align: center;
}

.index .visual .slide .contents h2 {
  font-size: 65px;
  font-weight: 100;
}

.index .visual .slide .contents h3 {
  font-weight: 100;
}

.index .visual .slide .contents .view-btn {
  margin-top: 5px;
}

.index .visual .slide .contents .view-btn button {
  padding: 11px;
  background: #1B1B1B;
  color: #fff;
  font-weight: 300;
  font-size: 12px;
}

.index .visual .slide .contents .view-btn button:hover {
  background: #333;
}

.index .visual .s1 {
  background-image: url(../img/HeroBigStandard_3200x1520/HeroBigStandard_S93-FS-HERO-02_001_Default.jpg);
}

.index .visual .s2 {
  background-image: url(../img/HeroBigStandard_3200x1520/HeroBigStandard_S93-FS-ADV-02_001_Default.jpg);
}

.index .visual .s3 {
  background-image: url(../img/HeroBigStandard_3200x1520/HeroBigStandard_S93-FS-ADV-18_001_Default.jpg);
}

.index .visual .s4 {
  background-image: url(../img/HeroBigStandard_3200x1520/HeroBigStandard_S01-FS-Creativita-01-up_001_Default.jpg);
}

.index .visual .indicator {
  position: absolute;
  top: auto;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  bottom: 30px;
  overflow: hidden;
}

.index .visual .indicator li {
  float: left;
  width: 12px;
  height: 12px;
  border-radius: 6px;
}

.index .visual .indicator li:hover {
  border: 1px solid #f2f2f2;
}

.index .visual .indicator li.on {
  border: 1px solid #f2f2f2;
}

.index .visual .indicator li > a {
  position: absolute;
  display: block;
  width: 6px;
  height: 6px;
  background: #f2f2f2;
  border-radius: 3px;
}

.index .visual .indicator li + li {
  margin-left: 20px;
}

.index .visual .slide-btns .prev-btn, .index .visual .slide-btns .next-btn {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0%, -50%);
          transform: translate(0%, -50%);
}

.index .visual .slide-btns .prev-btn img, .index .visual .slide-btns .next-btn img {
  width: 40px;
  background: #f2f2f2;
}

.index .visual .slide-btns .prev-btn {
  left: 40px;
}

.index .visual .slide-btns .next-btn {
  right: 40px;
}

.index .visual .present-svc {
  position: absolute;
  right: 26px;
  bottom: 20px;
  text-decoration: none;
  font-size: 13px;
  color: #f2f2f2;
}

.index .visual .present-svc i {
  font-size: 9px;
}

.text-ir {
  width: 0px;
  height: 0px;
  text-indent: -9999px;
  font-size: 0px;
}

.i-text-ir {
  position: absolute;
  left: -9999px;
  width: 0px;
  height: 0px;
  font-size: 0px;
}

.NanumGothic {
  font-family: 'Nanum Gothic', sans-serif;
}

.Quattrocento {
  font-family: 'Quattrocento Sans', sans-serif;
}

.PoiretOne {
  font-family: 'Poiret One', cursive;
}
/*# sourceMappingURL=index.css.map */