* {margin: 0;padding: 0;}
li {list-style: none;}
a {
  font-family: 'Arial','sans-serif';
  text-decoration: none;
  color: #999;
}

.menu {
  position: absolute;
  width: 50%;
  height: 100%;
  background: #262626;

  a.m {
    background: #111;
    font-weight: bold;
    display: block;
    padding: 20px;
    border-top: 1px solid #2e2e2e;
    border-bottom: 1px solid #2e2e2e;
  }

  a.m.on {
    color: #fc73b2;
  }

  ul {
    a {
      background: #3a3a3a;
      text-indent: 20px;
    }
  }

  li ul {
    display: none;
  }

  li ul.on {
    display: block;
  }
}
