#main-wrap {
  position: absolute;
  top: 61px;
  left: 50px;
  right: 0px;
  padding: 30px;
  background: #E5E9EC;
  z-index: 1;
}

header.open + main > #main-wrap {
  left: 250px;
}

#overall {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 155px;
}

#overall article {
  position: relative;
  width: 24.5%;
  background: #27A599;
  padding: 20px;
}

#overall article h2 {
  color: #1A1D23;
  font-size: 11px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

#overall article ul:first-of-type {
  position: absolute;
  top: 15px;
  right: 20px;
  overflow: hidden;
}

#overall article ul:first-of-type li {
  float: left;
}

#overall article ul:first-of-type li:nth-child(2) i {
  font-size: 13px;
  margin-left: 5px;
}

#overall article ul:first-of-type li i {
  vertical-align: middle;
  font-size: 10px;
  color: rgba(0, 0, 0, 0.4);
}

#overall article ul:nth-of-type(2) {
  overflow: hidden;
  margin-top: 10px;
}

#overall article ul:nth-of-type(2) li {
  position: relative;
  float: left;
  margin-right: 10px;
}

#overall article ul:nth-of-type(2) li h3 {
  text-transform: capitalize;
  margin-bottom: 5px;
  color: rgba(255, 255, 255, 0.9);
}

#overall article ul:nth-of-type(2) li span {
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #fff;
}

#overall article ul:nth-of-type(2) li + li {
  margin-left: 11px;
}

#overall article ul:nth-of-type(2) li + li:before {
  position: absolute;
  left: -11px;
  content: '';
  display: block;
  width: 1px;
  height: 40px;
  background: rgba(0, 0, 0, 0.2);
}

#overall article p {
  margin-top: 25px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
}

#overall article p span:first-of-type {
  display: block;
  width: 95%;
  height: 2px;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 10px;
}

#overall article p span:nth-of-type(2) {
  color: rgba(255, 255, 255, 0.9);
}

#overall article:nth-child(2) {
  background: #1992D6;
}

#overall article:nth-child(3) {
  background: #726186;
}

#overall article:nth-child(4) {
  background: #E9595A;
}

section + section {
  margin-top: 10px;
}

#sales-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

#sales-info .map-area {
  width: 66.4%;
  overflow: hidden;
}

#sales-info .map-area div {
  float: left;
  width: 65%;
  background: #47B2A8;
}

#sales-info .map-area div img {
  width: 100%;
}

#sales-info .map-area div + div {
  width: 35%;
  height: 100%;
  background: #21262D;
}

#sales-info .sales {
  width: 32.85%;
  background: white;
}

#sales-info .sales ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 30px;
}

#sales-info .sales ul li {
  width: 49%;
  font-size: 18px;
  font-weight: 300;
}

#sales-info .sales ul li h3 {
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
  margin-bottom: 10px;
}

#sales-info .sales ul li span {
  color: rgba(0, 0, 0, 0.7);
  font-weight: 400;
}

#sales-info .sales .table-wrap {
  margin: 0px 20px;
}

#sales-info .sales .table-wrap table {
  width: 100%;
}

#sales-info .sales .table-wrap table tbody tr td {
  padding: 10px;
  color: rgba(0, 0, 0, 0.4);
  font-size: 13px;
}

#sales-info .sales .table-wrap table tbody tr td:first-child, #sales-info .sales .table-wrap table tbody tr td:nth-child(3) {
  color: #27A599;
}

#sales-info .sales .table-wrap table tbody tr:first-child td {
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.7);
}

#sales-info .sales .table-wrap table tbody tr + tr {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.joing {
  position: relative;
}

.joing > div, .joing > ul {
  width: 32.85%;
}

.joing .post {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 51%;
  padding: 18px;
  background: rgba(40, 162, 224, 0.85);
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.joing .post i {
  display: inline-block;
  color: #fff;
}

.joing .post span:first-of-type {
  display: block;
  margin-top: 20px;
  font-size: 12px;
  opacity: 0.7;
}

.joing .post p {
  margin-top: 15px;
  font-size: 21px;
  line-height: 1.3;
}

.joing .post span {
  display: inline-block;
  margin: 30px 5px 5px 0px;
}

.joing .joing-group.img-effect {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.joing .joing-group {
  position: relative;
  -webkit-transition: scale .4s;
  transition: scale .4s;
}

.joing .joing-group em {
  font-style: initial;
}

.joing .joing-group img {
  width: 100%;
}

.joing .joing-group div:nth-of-type(2) {
  position: absolute;
  bottom: 20%;
  left: 4%;
}

.joing .joing-group div:nth-of-type(2) span {
  display: inline-block;
  padding: 4px 8px;
  border: 2px solid #fff;
  border-radius: 18px;
  color: #fff;
  font-size: 12px;
  font-weight: bold;
}

.joing .joing-group div:nth-of-type(3) {
  position: absolute;
  bottom: 3%;
  left: 4%;
  color: #fff;
}

.joing .joing-group div:nth-of-type(3) span {
  font-size: 12px;
  font-weight: bold;
}

.joing .joing-group div:nth-of-type(3) .user-profile {
  margin-top: 18px;
  width: 35px;
  height: 35px;
}

.joing .joing-group div:nth-of-type(3) input {
  position: absolute;
  bottom: 8%;
  left: 9%;
  width: 56%;
  background: #fff;
  padding: 10px;
}

.joing .joing-group div:nth-of-type(3) button {
  position: absolute;
  bottom: 8%;
  left: 67%;
  width: 20%;
  background: #27A599;
  padding: 11px;
  color: #fff;
  font-weight: 100;
}

.joing > ul {
  position: absolute;
  top: 0px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 100%;
}

.joing > ul li {
  position: absolute;
  width: calc(50% - 5px);
  height: calc(50% - 5px);
  background: white;
  padding: 18px;
}

.joing > ul li div {
  width: 100%;
  height: 100%;
}

.joing > ul li div:nth-child(2) {
  display: none;
}

.joing > ul li:first-child {
  top: 0%;
  left: 0%;
  background: #bcbcbc;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}

.joing > ul li:first-child i {
  display: inline-block;
  color: #fff;
}

.joing > ul li:first-child span:first-of-type {
  display: block;
  margin-top: 5px;
  font-size: 12px;
  opacity: 0.7;
}

.joing > ul li:first-child p {
  margin-top: 10px;
  font-size: 25px;
  line-height: 1.3;
}

.joing > ul li:first-child p em {
  font-style: normal;
}

.joing > ul li:first-child span:nth-of-type(2) {
  display: inline-block;
  margin: 30px 5px 5px 0px;
}

.joing > ul li:nth-child(2) {
  top: 0%;
  right: 0%;
  background: #0090d9;
  color: #fff;
}

.joing > ul li:nth-child(2) div {
  padding-top: 5px;
}

.joing > ul li:nth-child(2) div .user {
  display: inline-block;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  overflow: hidden;
}

.joing > ul li:nth-child(2) div .user img {
  width: 100%;
}

.joing > ul li:nth-child(2) div h2 {
  display: inline-block;
  text-transform: capitalize;
}

.joing > ul li:nth-child(2) div span {
  display: block;
}

.joing > ul li:nth-child(3) {
  bottom: 0%;
  left: 0%;
}

.joing > ul li:nth-child(4) {
  bottom: 0%;
  right: 0%;
}

.joing > ul li:nth-child(4) img {
  width: 100%;
}

.joing .weather {
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  background: white;
  font-size: 60px;
}
/*# sourceMappingURL=index.css.map */