section.intro {
  background: #F8F8F8;
}

section.intro > div .content-wrap {
  padding: 5%;
}

section.intro > div .content-wrap .img-wrap {
  position: relative;
  display: block;
  float: left;
  width: 50%;
  height: 100%;
  overflow: hidden;
}

section.intro > div .content-wrap .img-wrap img {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 100%;
}

section.intro > div .content-wrap div + div {
  float: left;
  width: 50%;
  height: 100%;
  padding: 3%;
  background: #FCFBFC;
}

section.intro > div .content-wrap div + div p {
  font-size: 18px;
  line-height: 1.8;
}

section.intro > div .content-wrap div + div p span {
  display: block;
  font-size: 60px;
}

section.intro > div .content-wrap div + div ul li {
  width: 100%;
  text-align: center;
  font-weight: 500;
}

section.intro > div .content-wrap div + div > ul {
  margin-top: 50px;
}

section.intro > div .content-wrap div + div > ul > li {
  padding-bottom: 20px;
  font-size: 20px;
  text-align: left;
}

section.intro > div .content-wrap div + div > ul ul li a {
  display: block;
  padding: 15px;
  margin-top: 10px;
  background: #ABCCB1;
  font-size: 18px;
}

.section {
  background: #FFEDC2;
}

.section .content-wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 80%;
  height: 80%;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background: #F8F8F8;
}

.section .content-wrap .content {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
  padding: 0% 5%;
}

.section .content-wrap .content li {
  position: relative;
  overflow: hidden;
}

.section .content-wrap .content li img {
  display: block;
  position: absolute;
  top: 50%;
  left: 0%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 53%;
}

.section .content-wrap .content li .desk {
  float: right;
  width: 45%;
}

.section .content-wrap .content li .desk table {
  width: 100%;
  line-height: 1.3;
}

.section .content-wrap .content li .desk table caption {
  text-align: left;
  font-size: 60px;
  font-weight: 300;
  margin-bottom: 50px;
  line-height: 1.1;
}

.section .content-wrap .content li .desk table caption span {
  display: block;
  font-size: 50px;
  font-weight: 100;
}

.section .content-wrap .content li .desk table tbody tr {
  line-height: 1.5;
}

.section .content-wrap .content li .desk table tbody tr th {
  font-size: 20px;
  font-weight: 500;
}

.section .content-wrap .content li .desk table tbody tr td {
  font-size: 18px;
  color: #555555;
}

.section .content-wrap .content li .desk table tbody tr td a {
  background: url(../img/icon/click-icon.png) no-repeat right center/25px 25px;
  margin-left: 5px;
  padding: 0px 18px 4px 4px;
  border-bottom: 1px dotted #555555;
  font-weight: 500;
}

.section .content-wrap .content li .desk .sub-title {
  margin-top: 50px;
}

.section .content-wrap .content li .desk .sub-title li {
  background: url(../img/icon/importance-icon.svg) no-repeat left center/25px 25px;
  font-size: 23px;
  padding-left: 35px;
  color: #333333;
}

.section .content-wrap .content li .desk .sub-title li span {
  color: red;
}

.section .content-wrap .content li .desk .btn {
  width: 80%;
  margin-top: 50px;
}

.section .content-wrap .content li .desk .btn a {
  display: block;
  float: left;
  width: 40%;
  padding: 3.5%;
  margin-top: 10px;
  background: #FCFBFC;
  font-size: 18px;
  text-align: center;
  border: 2px solid #7D7563;
  border-radius: 8px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4), 1px 1px 5px rgba(0, 0, 0, 0.4);
          box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.4), 1px 1px 5px rgba(0, 0, 0, 0.4);
  -webkit-transition: all .4s;
  transition: all .4s;
}

.section .content-wrap .content li .desk .btn a:first-child {
  margin-right: 3%;
}

.section .content-wrap .content li .desk .btn a:hover {
  background: #7D7563;
  color: #fff;
  border-color: #FCFBFC;
}

.section .content-wrap .control .prev img, .section .content-wrap .control .next img {
  width: 80px;
}

.section .content-wrap .control .prev {
  position: absolute;
  top: 50%;
  left: -90px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section .content-wrap .control .next {
  position: absolute;
  top: 50%;
  right: -90px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.section .content-wrap .indicator {
  position: absolute;
  left: 0;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 15px;
}

.pp1 .content-wrap .content li .desk table tbody tr td a {
  padding: 0px 25px 4px 4px;
}
/*# sourceMappingURL=index_p.css.map */