body {
  color: #2D3138;
}

main {
  min-height: calc(100vh - 61px);
  padding: 2% 12%;
}

#main-wrap {
  padding: 2%;
  background: #fff;
}

table {
  width: 100%;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
  border-bottom: 2px solid rgba(0, 0, 0, 0.1);
}

table td, table th {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

header.open + main {
  padding: 2% 8%;
}

.list-search {
  position: relative;
  height: 30%;
  padding-bottom: 50px;
}

.list-search > a {
  position: absolute;
  right: 0%;
  display: block;
  width: 8%;
  line-height: 30px;
  color: #fff;
  text-align: center;
  font-size: 11px;
  font-weight: bold;
  background: #E9595A;
  border-radius: 0px 0px 3px 3px;
  -webkit-box-shadow: 0px 4px #ab3c3c;
          box-shadow: 0px 4px #ab3c3c;
}

.list-search > a:hover {
  top: 2px;
  -webkit-box-shadow: 0 2px #ab3c3c;
          box-shadow: 0 2px #ab3c3c;
}

.list-search h2 {
  padding: 3% 0.8% 0.8%;
  font-size: 15px;
  font-weight: bold;
}

.list-search table {
  font-size: 12px;
}

.list-search table td {
  padding-left: 14px;
  height: 35px;
}

.list-search table td label + label {
  margin-left: 10px;
}

.list-search table td input[type="text"] {
  width: calc(100% - 110px);
}

.list-search table td input[type="text"], .list-search table td select {
  border: 1px solid gray;
  border-radius: 0;
  height: 20px;
  line-height: 13px;
}

.list-search table td i {
  font-size: 12px;
}

.list-search table td:nth-child(2n-1) {
  background: #F4F5F7;
}

.list-search table td.no-bg {
  background: none;
}

.list-search button {
  position: absolute;
  left: 50%;
  bottom: 2px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  display: block;
  margin: 3% auto 0%;
  width: 6%;
  line-height: 30px;
  font-size: 12px;
  background: #888;
  color: #fff;
  border-radius: 0px 0px 3px 3px;
  -webkit-box-shadow: 0px 4px #222222;
          box-shadow: 0px 4px #222222;
}

.list-search button:hover {
  bottom: 0px;
  -webkit-box-shadow: 0 2px #222222;
          box-shadow: 0 2px #222222;
}

.list-board {
  position: relative;
  margin-top: 2%;
  height: 66%;
}

.list-board table {
  font-size: 13px;
}

.list-board table tr:hover {
  background: #f5f5f5;
}

.list-board table th {
  height: 30px;
  background: #F4F5F7;
}

.list-board table td {
  text-align: center;
  height: 35px;
}

.list-board table td:nth-child(2) {
  text-align: left;
  padding-left: 14px;
  max-width: 1px;
}

.list-board table td:nth-child(2) a {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.list-board table td:last-child span + span {
  display: block;
  color: gray;
}

.list-board .page-control {
  position: relative;
  text-align: center;
}

.list-board .page-control ul {
  display: inline-block;
  margin: 20px auto 0px;
  text-align: center;
  font-size: 0px;
}

.list-board .page-control ul li {
  display: inline-block;
  font-size: 13px;
}

.list-board .page-control ul li a {
  position: relative;
  display: inline-block;
  color: #777;
  padding: 5px;
}

.list-board .page-control ul li a:hover {
  color: #333;
}

.list-board .page-control ul li a:hover:after {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: #999;
  opacity: 0.3;
}

.list-board .page-control ul li + li:before {
  display: inline-block;
  content: '';
  width: 1px;
  height: 8px;
  background: #777;
}

.list-board .page-control > a {
  display: inline-block;
  width: 10px;
}

.list-board .page-control > a img {
  width: 100%;
}
/*# sourceMappingURL=subpage-list.css.map */