@import url(https://fonts.googleapis.com/css?family=Orbitron);
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  border: 0;
}

body {
  position: fixed;
  width: 100%;
  height: 100%;
  color: #111;
  font-family: 'Orbitron', 'sans-serif';
}

@-webkit-keyframes ani {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    color: #eee;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0.5;
    color: #fff;
  }
}

@keyframes ani {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
    color: #eee;
  }
  100% {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
    opacity: 0.5;
    color: #fff;
  }
}

.main-wrap {
  background: black;
  position: fixed;
  width: 100%;
  height: 100%;
  min-width: 1024px;
  min-height: 768px;
  -webkit-perspective: 900px;
          perspective: 900px;
}

.main-wrap .btn-opener {
  position: fixed;
  top: 50px;
  left: 40px;
  display: inline-block;
  width: 20px;
  color: #eee;
  font-size: 40px;
  z-index: 3;
  -webkit-animation: ani .5s infinite alternate;
          animation: ani .5s infinite alternate;
}

.main-wrap nav {
  position: fixed;
  width: 150px;
  height: 100%;
  background: pink;
  -webkit-transform: rotateY(120deg);
          transform: rotateY(120deg);
  -webkit-transform-origin: left center;
          transform-origin: left center;
  z-index: 2;
  -webkit-transition: all .8s;
  transition: all .8s;
  opacity: 0;
}

.main-wrap nav.nav-on {
  -webkit-transform: rotateY(15deg);
          transform: rotateY(15deg);
  opacity: 1;
}

.main-wrap nav .logo {
  position: absolute;
  top: 80px;
  left: 50%;
  width: 100px;
  margin-left: -50px;
}

.main-wrap nav .logo img {
  width: 100%;
  height: auto;
}

.main-wrap nav .gnb {
  position: absolute;
  top: 35%;
  left: 0;
  -webkit-transform: rotateY(-15deg);
          transform: rotateY(-15deg);
  -webkit-transition: all .8s;
  transition: all .8s;
  width: 100%;
}

.main-wrap nav .gnb li a {
  display: block;
  width: 100%;
  font-size: 18px;
  line-height: 70px;
  text-align: center;
  font-weight: 700;
  color: #000;
}

.main-wrap nav .gnb li a:hover {
  color: #fff;
  background: #000;
}

section {
  position: fixed;
  width: 100%;
  height: 100%;
  right: 0;
  background: gray;
  z-index: 1;
  -webkit-transform-origin: right center;
          transform-origin: right center;
  -webkit-transition: all .5s;
  transition: all .5s;
}

section.section-on {
  width: 95%;
  -webkit-transform: rotateY(-10deg);
          transform: rotateY(-10deg);
}

section > div {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  -webkit-perspective: 800px;
          perspective: 800px;
  -webkit-transition: all 1.5s;
  transition: all 1.5s;
}

section > div.div-on {
  opacity: 1;
  z-index: 2;
}

section > div.div-on > article {
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

section > div > article {
  float: left;
  height: 25%;
  position: relative;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  text-align: center;
  overflow: hidden;
  -webkit-transition: all 1s;
  transition: all 1s;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

section > div > article strong {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  margin-top: -25px;
  color: #fff;
  font-size: 40px;
  text-shadow: 2px 2px 10px #333;
}

section > div > article span {
  display: block;
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  margin-top: -10px;
  font-size: 24px;
  color: #fff;
  text-shadow: 2px 2px 5px #333;
  -webkit-transition: all .3s;
  transition: all .3s;
}

section > div > article span:hover {
  letter-spacing: 2px;
}

section .box1 .sns a {
  position: absolute;
  top: 40%;
  left: 50%;
  display: inline-block;
  margin-left: 0;
}

section .box1 .sns a:nth-child(1) {
  margin-left: -100px;
}

section .box1 .sns a:nth-child(3) {
  margin-left: 100px;
}

section .box1 .sns a:hover i {
  -webkit-transform: scale(1.1) translateX(5px);
          transform: scale(1.1) translateX(5px);
  color: #fff;
  text-shadow: none;
}

section .box1 .sns a i {
  display: block;
  font-size: 30px;
  color: #eee;
  text-shadow: 2px 2px 5px #333;
  -webkit-transition: all .2s;
  transition: all .2s;
}

section .box1 > article:nth-child(1) {
  width: 50%;
}

section .box1 > article:nth-child(2) {
  width: 25%;
  background-image: url(../img/m1.jpg);
  background-position: center top;
}

section .box1 > article:nth-child(3) {
  width: 25%;
}

section .box1 > article:nth-child(4) {
  width: 25%;
}

section .box1 > article:nth-child(5) {
  width: 25%;
  background-image: url(../img/m3.jpg);
  background-size: contain;
  background-position: right;
  background-color: #fff;
}

section .box1 > article:nth-child(6) {
  width: 50%;
  height: 50%;
  background-image: url(../img/m2.jpg);
}

section .box1 > article:nth-child(7) {
  position: absolute;
  top: 50%;
  width: 25%;
  height: 25%;
  background-image: url(../img/m4.jpg);
}

section .box1 > article:nth-child(8) {
  position: absolute;
  top: 50%;
  left: 25%;
  width: 25%;
  height: 25%;
  overflow: hidden;
}

section .box1 > article:nth-child(8) video {
  width: 100%;
}

section .box1 > article:nth-child(9) {
  width: 25%;
}

section .box1 > article:nth-child(10) {
  width: 50%;
  background-image: url(../img/m5.jpg);
}

section .box1 > article:nth-child(11) {
  width: 25%;
}

section .box2 article:nth-child(1) {
  width: 25%;
}

section .box2 article:nth-child(2) {
  width: 25%;
  background-image: url(../img/w1.jpg);
}

section .box2 article:nth-child(3) {
  width: 50%;
}

section .box2 article:nth-child(4) {
  width: 25%;
  height: 50%;
  background-image: url(../img/w2.jpg);
}

section .box2 article:nth-child(5) {
  width: 50%;
  height: 50%;
  background-image: url(../img/w3.jpg);
}

section .box2 article:nth-child(6) {
  width: 25%;
  background-image: url(../img/w4.jpg);
}

section .box2 article:nth-child(7) {
  width: 25%;
}

section .box2 article:nth-child(8) {
  width: 25%;
  background-image: url(../img/w5.jpg);
}

section .box2 article:nth-child(9) {
  width: 25%;
}

section .box2 article:nth-child(10) {
  width: 25%;
  background-image: url(../img/w6.jpg);
}

section .box2 article:nth-child(11) {
  width: 25%;
  background-image: url(../img/w7.jpg);
}

section .box3 article:nth-child(1) {
  width: 50%;
  height: 100%;
  background-image: url(../img/k1.jpg);
}

section .box3 article:nth-child(2) {
  width: 25%;
}

section .box3 article:nth-child(3) {
  width: 25%;
  background-image: url(../img/k2.jpg);
}

section .box3 article:nth-child(4) {
  width: 50%;
}

section .box3 article:nth-child(5) {
  width: 25%;
  height: 50%;
  background-image: url(../img/k3.jpg);
}

section .box3 article:nth-child(6) {
  width: 25%;
}

section .box3 article:nth-child(7) {
  width: 25%;
  height: 50%;
  background-image: url(../img/k4.jpg);
}
/*# sourceMappingURL=0424-01.css.map */